
.cartContainer {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

@media (min-width: 100px) and (max-width: 1000px) {
    .cartContainer {
        width: 100%;
        position: relative;
        display: grid;
        place-items: center;
        
    }

    .cartContainer .stepperContainer .bgColor{
      width: 100%;
      height: 100%;
      position: absolute;
      display: grid;
      place-items: center;
      background-color: rgba(113, 112, 112, 0.27);
      filter: blur(5px);
      z-index: 1;
      backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);

    }

    .cartContainer .stepperContainer{
      width: 100%;
      height: 100%;
      position: absolute;
      display: grid;
      place-items: center;
      z-index: 1;
    }

    .cartContainer .stepperContainer .stepperBox{
      width: 100%;
      height: 300px;
      background-color: white;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      z-index: 1;
      padding: 20px;
    }

    

    .userDetailsContainer {
        width: 100%;
        align-items: center;
        justify-content: space-between;
        display: flex;
        padding: 10px;
        background-color: white;
        box-shadow: 0 0 4px black;
    
        .editBtn {
          box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
          padding: 5px;
          border-radius: 5px;
          outline: none;
          border: none;
          font-family: "Oswald", sans-serif;
          font-weight: 400 !important;
          font-optical-sizing: auto;
          letter-spacing: 1.3px;
    
          &:hover {
            color: #109af0;
          }
        }
    
      }
}