.searchContainer {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border: none;
    border-radius: 10px;
    background-color: white;
    box-shadow: rgba(220, 220, 220, 0.107) 22px 22px 70px 4px;
    outline: none;
    color: white;
  
    gap: 10px;
  
  
  }

  .searchContainer .search_icon {
    width: 10%;
    height: 100%;
    color: black;
    font-size: 1.2rem;
    display: grid;
    place-items: center;
  }
  
  .searchContainer input {
    height: 100%;
    width: 90%;
    background-color: transparent;
    border-radius: 3px;
    border: none;
    outline: none;
    padding: 0 10px;
    font-size: 20px;
    font-weight: 300;
    color: black;

  
    
  
  
  }

  .searchContainer input::placeholder{
    color: black;
    font-weight: 400;
  }
  
  
  