@media (min-width: 100px) and (max-width: 1000px) {
  .formContainer {
    width: 100%;
    height: 100vh;
    gap: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    font-family: "Oswald", sans-serif;
    font-weight: 400;
    font-optical-sizing: auto;


  }

  .formContainer .closeForm {
    color: red;
    font-size: 1.2rem;
  }


  .formContainer form {
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
    padding: 10px;
    border-radius: 10px;

  }

  .formContainer form .input {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

  }

  .formContainer form .input input::placeholder {
    color: rgba(0, 0, 0, 0.605);
  }

  .formContainer form .input label {
    width: 30%;
  }



  .formContainer form .input input {
    width: 70%;
    height: 40px;
    border: none;
    box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
    padding: 5px;
    border-radius: 10px;
  }

  .formContainer form .input input[type="file"] {
    border: none;
    border-radius: none;
    box-shadow: none;

  }


  .formContainer form .weightType div{
    width: 70%;
    display: flex;
    gap: 20px;
    align-self: flex-start;
    
  }

  .formContainer form .weightType div label{
    width: 50px;
    height: 50px;
  }

  .formContainer form .weightType div label input{
    width: 100%;
    height: 100%;
  }


  .foodAddBtn {

    position: relative;
    display: inline-block;
    overflow: hidden;
    vertical-align: middle;
    font-size: 16px;
    line-height: 1;
    font-weight: 600;
    padding: 10px 50px;
    text-align: center;
    z-index: 1;
    transition: all 500ms ease;
    text-transform: capitalize;
    border-radius: 19px;
    letter-spacing: 1.3px;
    cursor: pointer;
    background-color: black;
    color: white;



  }

  .foodAddBtn::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    transform: scale(0, 0);
    z-index: -1;
    transition: all 500ms ease;
  }

  .foodAddBtn:hover::before {
    background-color: #00813D;
    transform: scale(1, 1);
  }
}