@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Satisfy&family=Teachers:ital,wght@0,400..800;1,400..800&display=swap');

.hamburgerContainer {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    font-family: "Oswald", sans-serif;
    font-weight: 300;
    font-optical-sizing: auto;
    z-index: 6;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hamburgerContainer .content {
    width: 25%;
    height: 100%;
    padding: 1rem;
    display: flex;
    align-self: flex-end;
    flex-direction: column;
    justify-content: space-between;
    background: rgba(56, 56, 56, 0.13);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.125);
    border-radius: 12px;
    transition: 0.3s linear;
}

.hamburgerContainer .content .head {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5rem;
    text-transform: uppercase;
    font-family: "Oswald", sans-serif;
    font-weight: 400;
    font-optical-sizing: auto;
}

.hamburgerContainer .content .head .logoInfo {
    display: flex;
    align-items: center;
    gap: 5px;
    color: white;
}

.hamburgerContainer .content .head .logoInfo .logoImg {
    width: 40px;
    height: 40px;
}

.hamburgerContainer .content .head .logoInfo .logoImg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hamburgerContainer .content .description {
    letter-spacing: 1.2px;
    color: white;
    text-align: justify;
}

.hamburgerContainer .content .foodImages {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px;
    justify-content: space-between;
}

.hamburgerContainer .content .foodImages .img {
    width: 80px;
    height: 80px;
    border-radius: 10px;
}

.hamburgerContainer .content .foodImages .img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hamburgerContainer .content .navigationBtns {
    display: none;
}

.hamburgerContainer .content .contactInfo {
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-family: "Oswald", sans-serif;
    font-weight: 400;
    font-optical-sizing: auto;
    text-transform: uppercase;
    color: white;
    letter-spacing: 1.2px;
}

.hamburgerContainer .content .contactInfo .info {
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 1rem;
}

.navigationBtns ul .shop {
    position: relative;
}

.navigationBtns ul .shop:hover .dropDownList {
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
}

.navigationBtns ul .shop .dropDownList {
    top: 150%;
    width: 200px;
    position: absolute;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    z-index: 2;
    gap: 20px;
    background-color: white;
    transform: translateY(100px);
    transition: 0.5s all ease-in-out;
    opacity: 0;
    visibility: hidden;
}

.navigationBtns ul .shop .dropDownList p {
    padding: 10px;
    border-bottom: 0.2px solid rgb(181, 181, 181);
    cursor: pointer;
    transition: 0.3s all ease-in-out;
    font-family: "Oswald", sans-serif;
    font-weight: 600 !important;
    font-optical-sizing: auto;
    letter-spacing: 1.3px;
}

.navigationBtns ul .shop .dropDownList p:hover {
    background-color: #D12525;
    color: white;
}

@media (min-width: 100px) and (max-width: 1000px) {
    .hamburgerContainer .content .foodImages {
        display: none;
    }

    .hamburgerContainer {
        width: 100%;
        height: 100vh;
    }

    .hamburgerContainer .content {
        width: 100%;
        align-self: flex-start;
    }

    .hamburgerContainer .content .navigationBtns {
        width: 100%;
        height: 30%;
        display: flex;
    }

    .hamburgerContainer .content .navigationBtns ul {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .hamburgerContainer .content .navigationBtns ul li {
        font-weight: bold;
        color: rgb(13, 169, 241);
        font-size: 1.3rem;
        letter-spacing: 1.2px;
    }

    .hamburgerContainer .content .navigationBtns ul .logOut {
        background-color: transparent;
        border: none;
        outline: none;
    }
}
