.dashboardContentContainer {
    width: 85%;
    height: 90%;
  
  }



  @media (min-width: 100px) and (max-width: 1000px) {

    .dashboardContentContainer {
        width: 100%;
        padding: 0;
        
      }
    
  }