.customerDashboardContainer {
    width: 100%;
    height: 100%;
    overflow: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    position: relative;
  
  
  
  
  }


  @media (min-width: 100px) and (max-width: 1000px) {
    .customerDashboardContainer {
      background: rgb(236, 231, 239);
      background: linear-gradient(150deg, rgba(236, 231, 239, 1) 32%, rgb(6, 88, 188) 100%);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        /* background: url(../../img/OIP\ \(3\).jpeg); */
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        overflow-x: hidden;
        justify-content: space-between;
        
      }
      
    
      .customerDashboardContainer::-webkit-scrollbar {
        display: none;
    
      }
  }
